<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ввод имён</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/input.css')}}">
    <script>
        var counter = 1;

    </script>
    <script>
        function add_fields(){
            counter++;
            $("#submit").before('<label for="name' + counter + '">Имя ' + counter + ': </label>' +
            '<input placeholder="Ввод имени ' + counter + '" name="name' + counter + '" id="name' + counter + '"}/>');
    }

    </script>
</head>
<body>
<div class="container">
    <form class="names-form" method="post">
        <input class="input-button" type="button" value="Добавить" onClick="add_fields()"/>

        <label for="name1">Имя 1: </label>
        <input placeholder="Ввод имени 1" name="name1" id="name1">

        <input class="submit-button" type="submit" value="Отправить" id="submit"/>
    </form>
    <div>
        <a href="/send">Вывод записей</a>
    </div>
</div>
</body>
</html>